body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    background-color: #fff;
    color: #4c104a;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #4c104a;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color:#4c104a;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.form-group input[type="file"] {
    display: none;
}

.form-group textarea {
    resize: vertical;
}

.custom-file-upload {
    display: flex;
    align-items: center;
}

.custom-file-upload label {
    background-color: #4c104a;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload label:hover {
    background-color: #0056b3;
}

.custom-file-upload input[type="file"]:focus + label {
    outline: 1px solid #0056b3;
}

.custom-file-upload #file-name {
    margin-left: 15px;
    font-size: 16px;
    color: #555;
}

.btn {
    display: inline-block;
    background-color: #4c104a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
